<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/contact.css}"/>
</th:block>
<th:block th:fragment="content">
    <div class="banner">
        <img th:src="@{/assets/img/contact.jpg}" />
        <div class="banner-txt">
            <h2>Our Marketing Network Covers<br/>Many Countries and Regions</h2>
        </div>
    </div>
    <div class="contact1">
        <div class="container">
            <h1><strong>Contact Us</strong></h1>
            <ul>
                <li>
                    <h2>Foundry Base</h2>
                    <div class="contact-box">
                        <p><span>Address:</span><em>No. 896, Jinhai 1st Road, Airport New District, Longwan, Wenzhou, Zhejiang, China</em></p>
                        <p><span>Phone:</span><em>+86 577-8687 8788</em></p>
                        <p><span>Fax:</span><em>+86 577-8637 1713</em></p>
                        <p><span>Email:</span><em>ouming@ouming.com</em></p>
                    </div>
                </li>
                <li>
                    <h2>Headquarters</h2>
                    <div class="contact-box">
                        <p><span>Address:</span><em>No. 1555, Tianzhong Road, Yongzhong Street, Longwan, Wenzhou, Zhejiang, China</em></p>
                        <p><span>Phone:</span><em>+86 577-8687 8788</em></p>
                        <p><span>Fax:</span><em>+86 577-8637 1713</em></p>
                        <p><span>Email:</span><em>ouming@ouming.com</em></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="contact2">
        <div class="container">
            <div class="contact2-title">
                <h1><strong>Online Message</strong></h1>
                <p>Please contact us regarding our products and services.</p>
            </div>
            <div class="contact-form">
                <ul class="from-input">
                    <li>
                        <span>Name:</span>
                        <input type="text" id="txtName2" name="txtName" value="" />
                    </li>
                    <li>
                        <span>Phone:</span>
                        <input type="tel" id="txtPhone2" name="txtPhone" value="" />
                    </li>
                    <li>
                        <span>Email:</span>
                        <input type="email" id="txtEmail2" name="txtEmail" value="" />
                    </li>
                    <li></li>
                </ul>
                <div class="from-textarea">
                    <span>Message:</span>
                    <textarea name="txtContent" id="txtContent2" rows="" cols=""></textarea>
                </div>
                <button id="SendMess2">Submit</button>
            </div>
        </div>
    </div>
    <div class="contact-map" id="dituContent"></div>

    <script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=Ct103OexwkTdKmhHqWeGFABU4fAISyr6"></script>
    <script type="text/javascript">
        $(function(){

            // Create and initialize the map
            function initMap() {
                createMap(); // Create the map
                setMapEvent(); // Set map events
                addMapControl(); // Add controls to the map
                addMarker(); // Add marker to the map
            }

            // Create the map function
            function createMap() {
                var map = new BMap.Map("dituContent"); // Create a map in the Baidu Map container
                var point = new BMap.Point(120.812429, 27.902435); // Define a center point coordinate
                map.centerAndZoom(point, 19); // Set the center point and zoom level of the map
                window.map = map; // Store the map variable globally
            }

            // Set map events
            function setMapEvent() {
                map.enableDragging(); // Enable map dragging (default enabled)
                map.disableScrollWheelZoom(); // Disable map scroll wheel zoom (default disabled)
                map.enableDoubleClickZoom(); // Enable double-click zoom (default enabled)
                map.enableKeyboard(); // Enable keyboard arrow keys to move the map
            }

            // Add controls to the map
            function addMapControl() {
                // Add zoom control to the map
                var ctrl_nav = new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_LEFT, type: BMAP_NAVIGATION_CONTROL_LARGE });
                map.addControl(ctrl_nav);
                // Add scale control to the map
                var ctrl_sca = new BMap.ScaleControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });
                map.addControl(ctrl_sca);
            }

            // Marker array
            var markerArr = [{ title: "Zhejiang Ouming Fluid Casting Co., Ltd.<br />", content: "Address: No. 1555, Tianzhong Road, Yongzhong Street, Longwan, Wenzhou, Zhejiang, China<br />Phone: +86 577-8687 8788", point: "120.812429|27.902435", isOpen: 1, icon: { w: 23, h: 25, l: 46, t: 21, x: 9, lb: 12 } }
            ];

            // Create marker
            function addMarker() {
                for (var i = 0; i < markerArr.length; i++) {
                    var json = markerArr[i];
                    var p0 = json.point.split("|")[0];
                    var p1 = json.point.split("|")[1];
                    var point = new BMap.Point(p0, p1);
                    var iconImg = createIcon(json.icon);
                    var marker = new BMap.Marker(point, { icon: iconImg });
                    var iw = createInfoWindow(i);
                    var label = new BMap.Label(json.title, { "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20) });
                    marker.setLabel(label);
                    map.addOverlay(marker);
                    label.setStyle({
                        borderColor: "#808080",
                        color: "#333",
                        cursor: "pointer"
                    });

                    (function () {
                        var index = i;
                        var _iw = createInfoWindow(i);
                        var _marker = marker;
                        _marker.addEventListener("click", function () {
                            this.openInfoWindow(_iw);
                        });
                        _iw.addEventListener("open", function () {
                            _marker.getLabel().hide();
                        })
                        _iw.addEventListener("close", function () {
                            _marker.getLabel().show();
                        })
                        label.addEventListener("click", function () {
                            _marker.openInfoWindow(_iw);
                        })
                        if (!!json.isOpen) {
                            label.hide();
                            _marker.openInfoWindow(_iw);
                        }
                    })()
                }
            }

            // Create InfoWindow
            function createInfoWindow(i) {
                var json = markerArr[i];
                var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
                return iw;
            }

            // Create an Icon
            function createIcon(json) {
                var icon = new BMap.Icon("http://app.baidu.com/map/images/us_mk_icon.png", new BMap.Size(json.w, json.h), { imageOffset: new BMap.Size(-json.l, -json.t), infoWindowOffset: new BMap.Size(json.lb + 5, 1), offset: new BMap.Size(json.x, json.h) })
                return icon;
            }

            initMap(); // Create and initialize the map
        })
    </script>

</th:block>
</html>
