<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/foundry.css}"/>
</th:block>
<th:block th:fragment="content">
    <div class="banner">
        <img th:src="@{/assets/img/Foundry.jpg}"/>
    </div>
    <div class="foundry1">
        <div class="container">
            <h1 class="foundry-title wow fadeInUp">Our <strong>Foundry</strong></h1>
            <div class="foundry1-img wow fadeInUp">
                <img th:src="@{/assets/202012/2342504d83cf41619a106672288e77f8.jpg}" alt="Our Foundry"
                     title="Our Foundry"/>
            </div>
            <div class="foundry1-txt">
                <p class="wow fadeInUp">
                    Southeast Foundry was established in 1995 and has since grown significantly. The foundry now spans 30,000 square meters, with an annual casting capacity of 1,200 tons and a valve and fitting production capacity of 400,000 pieces.
                </p>
                <p class="wow fadeInUp">
                    In 2020, the company was recognized with a "Regional R&D Center" award. Our foundry employs advanced sand casting and precision investment casting techniques to produce various stainless steel valves, pipe fittings, and hardware. We are capable of manufacturing products in a range of materials, including WCB, CF8, CF8M, and various other stainless steel grades.
                </p>
                <p class="wow fadeInUp">
                    At Southeast, our philosophy is to provide customers with the best service while delivering high-quality products. We have established a comprehensive quality inspection system, supported by state-of-the-art equipment such as CNC machining centers, spectrometers, ultrasonic flaw detectors, and magnetic particle testing devices. These tools ensure that quality is rigorously controlled at every stage of production.
                </p>
            </div>
        </div>
    </div>
    <div class="foundry2">
        <div class="container">
            <div class="foundry2-swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/8ddbaa2cdc58474bbf3415a3fe263225.jpg}" alt="Wax Injection"
                                         title="Wax Injection"/>
                                </div>
                                <h4>Wax Injection</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/21125bfa7bce4e68ae6105b12d3adfe3.jpg}" alt="Wax Mold Repair"
                                         title="Wax Mold Repair"/>
                                </div>
                                <h4>Wax Mold Repair</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/7df2cb27dc6e41aab02d09163327b483.jpg}" alt="Wax Assembly"
                                         title="Wax Assembly"/>
                                </div>
                                <h4>Wax Assembly</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/1ae424ac98474268af3264b923c95fb4.jpg}" alt="Sand Shell Coating"
                                         title="Sand Shell Coating"/>
                                </div>
                                <h4>Sand Shell Coating</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/f9b78962e97c4a75afecbae65cda835e.jpg}" alt="Drying"
                                         title="Drying"/>
                                </div>
                                <h4>Drying</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/65a2ac7114374795acf5b3ace8556687.jpg}" alt="Melting & Pouring"
                                         title="Melting & Pouring"/>
                                </div>
                                <h4>Melting & Pouring</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/5828c04a735a4ebe8368dbffab008670.jpg}" alt="Storage"
                                         title="Storage"/>
                                </div>
                                <h4>Storage</h4>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="foundry3">
        <div class="container">
            <h1 class="foundry-title wow fadeInUp">Honors & <strong>Certifications</strong></h1>
            <div class="foundry3-left wow fadeInUp">
                <div class="left-img">
                    <img th:src="@{/assets/202309/08d9cf2f5b6b4ba2b0b0750ff21358b1.jpg}" alt="CE Certification" title="CE Certification"/>
                </div>
                <span>CE Certification</span>
            </div>
            <div class="foundry3-right wow fadeInUp">
                <div class="foundry3-pc">
                    <h5>
                        The honors and certifications that Southeast Foundry has achieved are a testament to our past success and a driving force for continuous improvement as we advance towards new milestones in the industry.
                    </h5>
                    <div class="foundry3-list wow fadeInUp">
                        <ul>
                            <li class="active">
                                <img th:src="@{/assets/202309/08d9cf2f5b6b4ba2b0b0750ff21358b1.jpg}" alt="CE Certification" title="CE Certification"/>
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202309/4e843e78f9064750bd0ab60a40f3d5e6.jpg}" alt="ISO9001 Certification" title="ISO9001 Certification"/>
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202309/56d2178c4d584820bafe61d3057946b2.jpg}" alt="ISO14001 Certification" title="ISO14001 Certification"/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="foundry3-sm">
                    <div class="foundry3-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="active">
                                        <img th:src="@{/assets/202309/08d9cf2f5b6b4ba2b0b0750ff21358b1.jpg}" alt="CE Certification"
                                             title="CE Certification"/>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202309/4e843e78f9064750bd0ab60a40f3d5e6.jpg}" alt="ISO9001 Certification"
                                             title="ISO9001 Certification"/>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202309/56d2178c4d584820bafe61d3057946b2.jpg}" alt="ISO14001 Certification"
                                             title="ISO14001 Certification"/>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
