<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/foundry.css}"/>
</th:block>
<th:block th:fragment="content">
    <div class="banner">
        <img th:src="@{/assets/img/Foundry.jpg}"/>
        <!--<div class="banner-txt">
            <h1>Perfect Quality is Coming From<br />the Advanced Process.</h1>
        </div>-->
    </div>
    <div class="foundry1">
        <div class="container">
            <h1 class="foundry-title wow fadeInUp">我们的<strong>铸造厂</strong></h1>
            <div class="foundry1-img wow fadeInUp">
                <img th:src="@{/assets/202012/2342504d83cf41619a106672288e77f8.jpg}" alt="我们的铸造厂"
                     title="我们的铸造厂"/>
            </div>
            <div class="foundry1-txt">
                <p class="wow fadeInUp">
                    &nbsp; &nbsp; &nbsp; &nbsp;瓯明铸造厂成立于1993年，多年来规模不断扩大。现有阀门厂3万平方米，铸造厂2.7万平方米，综合厂房5.7万平方米，铸件年产量1500吨，管阀件年产量50万件。
                </p>
                <p class="wow fadeInUp">
                    <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>2018年被授予"区研发中心"，公司采用砂型铸造、硅溶胶中温蜡型精密铸造生产各种阀门、管件、五金件等不锈钢铸件。我们可以根据不同的标准生产各种材料的产品，如WCB，CF8，CF8M，CF3，CF3M，4A，5A，1.0619，1.4308，1.4408，1.4409等材质。
                </p>
                <p class="wow fadeInUp">
                    <span>&nbsp; &nbsp; &nbsp; &nbsp;</span>瓯明的经营理念是为客户提供最好的服务，同时创造优质的产品，因此我们建立了完善的质量检测体系，配备了各种检测设备。瓯明公司依托现代化的高精度铸造设备、加工检测设备，如数控加工中心、OBLF光谱仪、超声波探伤仪、磁粉探伤仪等。这些设备保证了我们产品从原材料到发货的各个生产环节都严格控制质量。
                </p>
            </div>
        </div>
    </div>
    <div class="foundry2">
        <div class="container">
            <div class="foundry2-swiper">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/8ddbaa2cdc58474bbf3415a3fe263225.jpg}" alt="制蜡"
                                         title="制蜡"/>
                                </div>
                                <h4>制蜡</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/21125bfa7bce4e68ae6105b12d3adfe3.jpg}" alt="修补蜡模"
                                         title="修补蜡模"/>
                                </div>
                                <h4>修补蜡模</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/7df2cb27dc6e41aab02d09163327b483.jpg}" alt="组装蜡模"
                                         title="组装蜡模"/>
                                </div>
                                <h4>组装蜡模</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/1ae424ac98474268af3264b923c95fb4.jpg}" alt="淋沙"
                                         title="淋沙"/>
                                </div>
                                <h4>淋沙</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/f9b78962e97c4a75afecbae65cda835e.jpg}" alt="烘干"
                                         title="烘干"/>
                                </div>
                                <h4>烘干</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/65a2ac7114374795acf5b3ace8556687.jpg}" alt="熔化浇注"
                                         title="熔化浇注"/>
                                </div>
                                <h4>熔化浇注</h4>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a class="wow fadeInUp">
                                <div class="foundry2-img">
                                    <img th:src="@{/assets/202012/5828c04a735a4ebe8368dbffab008670.jpg}" alt="存储"
                                         title="存储"/>
                                </div>
                                <h4>存储</h4>
                            </a>
                        </div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="foundry3">
        <div class="container">
            <h1 class="foundry-title wow fadeInUp">荣誉<strong>资质</strong></h1>
            <div class="foundry3-left wow fadeInUp">
                <div class="left-img">
                    <img th:src="@{/assets/202309/08d9cf2f5b6b4ba2b0b0750ff21358b1.jpg}" alt="" title=""/>
                </div>
                <span>CE-casting</span>
            </div>
            <div class="foundry3-right wow fadeInUp">
                <div class="foundry3-pc">
                    <h5>
                        企业获得的资质和荣誉，是对企业过去业绩的肯定，是对企业创造辉煌未来的鼓励和鞭策企业。到迈向新阶段，是我们不屈不挠、永不停歇的信念。</h5>
                    <div class="foundry3-list wow fadeInUp">
                        <ul>
                            <li class="active">
                                <img th:src="@{/assets/202309/08d9cf2f5b6b4ba2b0b0750ff21358b1.jpg}" alt="" title=""/>
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202309/4e843e78f9064750bd0ab60a40f3d5e6.jpg}" alt="" title=""/>
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202309/56d2178c4d584820bafe61d3057946b2.jpg}" alt="" title=""/>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="foundry3-sm">
                    <div class="foundry3-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="active">
                                        <img th:src="@{/assets/202309/08d9cf2f5b6b4ba2b0b0750ff21358b1.jpg}" alt=""
                                             title=""/>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202309/4e843e78f9064750bd0ab60a40f3d5e6.jpg}" alt=""
                                             title=""/>
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202309/56d2178c4d584820bafe61d3057946b2.jpg}" alt=""
                                             title=""/>
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
