<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{layout :: html(head = ~{::head}, content = ~{::content})}">
<th:block th:fragment="head">
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=0" />
  <meta name="format-detection" content="email=no" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <meta name="keywords" />
</th:block>

<th:block th:fragment="content">

  <div class="index-banner">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide" th:each="banner : ${bannerFinder.listAll()}">
          <a>
            <img th:src="@{${banner.spec.bannerImagePc}}" />
            <img th:src="@{${banner.spec.bannerImageMobile}}" />
            <div class="banner-txt">
              <h1 th:utext="${banner.spec.title}"></h1>
              <h3 th:utext="${banner.spec.subtitle}"></h3>
            </div>
          </a>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="index1">
    <div class="container">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide" th:each="timeline : ${timelineFinder.listAll()}">
            <a class="active wow fadeInRight" th:type="${timeline.spec.datetime}">
              <h1 th:text="${timeline.spec.datetime}"></h1>
              <p th:text="${timeline.spec.title}"></p>
            </a>
          </div>
        </div>
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
  <div class="index2">
    <div class="container" th:with="homeAbout = ${homeAboutFinder.get()}">
      <div class="index2-left">
        <h1 class="wow fadeInUp">About <strong th:text="${homeAbout.spec.name}"></strong></h1>
        <p class="wow fadeInUp" th:text="${homeAbout.spec.description}">
        </p>
        <a class="wow fadeInUp" th:href="@{${homeAbout.spec.aboutUrl}}"><span>Learn More</span></a>
        <div class="left-img wow fadeInUp">
          <a th:href="@{${homeAbout.spec.link1Url}}">
            <img th:src="@{${homeAbout.spec.link1Image}}" />
            <h4 th:text="${homeAbout.spec.link1Text}"></h4>
          </a>
          <a th:href="@{${homeAbout.spec.link2Url}}">
            <img th:src="@{${homeAbout.spec.link2Image}}" />
            <h4 th:text="${homeAbout.spec.link2Text}"></h4>
          </a>
        </div>
      </div>
      <div class="index2-right">
        <div class="right-img wow fadeInUp">
          <img th:src="@{${homeAbout.spec.publicityImage}}"/>
        </div>
        <ul class="right-txt wow fadeInUp">
          <li th:text="${homeAbout.spec.publicityImageText1}"></li>
          <li th:text="${homeAbout.spec.publicityImageText2}"></li>
          <li th:text="${homeAbout.spec.publicityImageText3}"></li>
          <li th:text="${homeAbout.spec.publicityImageText4}"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="index3">
    <div class="container">
      <h1 class="wow fadeInUp">Application Areas</h1>
      <div class="index3-list wow fadeInUp">
        <ul>
          <li class="active" th:each="applicationArea : ${applicationAreaFinder.listAll()}">
            <div class="list-img">
              <img th:src="@{${applicationArea.spec.image}}" th:alt="${applicationArea.spec.name}"
                   th:title="${applicationArea.spec.name}"/>
            </div>
            <div class="list-txt">
              <h4 th:text="${applicationArea.spec.name}"></h4>
              <p th:text="${applicationArea.spec.description}"></p>
              <img th:src="@{/assets/img/left.png}" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="index4">
    <div class="container">
      <h1 class="wow fadeInUp">Product Center</h1>
      <a class="wow fadeInUp" href="/en/Product-6096.html">
        <h2>Flanged Ball Valve</h2>
        <img th:src="@{/assets/img/index4-1.png}" />
        <span></span>
      </a>
      <a class="wow fadeInUp" href="/en/Product-6097.html">
        <h2>Multi-port Ball Valve</h2>
        <img th:src="@{/assets/img/index4-2.png}" />
        <span></span>
      </a>
      <a class="wow fadeInUp" href="/en/Product-6095.html">
        <h2>Wafer Ball Valve</h2>
        <img th:src="@{/assets/img/index4-3.png}" />
        <span></span>
      </a>
      <a class="wow fadeInUp" href="/en/Product-6098.html">
        <h2>Automatic Valve</h2>
        <img th:src="@{/assets/img/index4-4.png}" />
        <span></span>
      </a>
    </div>
  </div>
  <div class="index5">
    <h1>Core Advantages</h1>
    <ul class="index5-list" th:each="advantage : ${advantageFinder.listAll()}">
      <li class="list-img wow fadeInUp"><img th:src="@{${advantage.spec.image}}" /></li>
      <li class="list-txt wow fadeInUp">
        <div class="index5-txt">
          <h2 th:text="${advantage.spec.title}"></h2>
          <p th:text="${advantage.spec.description}"></p>
          <a th:href="${advantage.spec.moreLink}"><span>Learn More</span></a>
        </div>
      </li>
    </ul>
  </div>
  <div class="index6">
    <div class="container">
      <h1 class="wow fadeInUp">News & Information</h1>
      <div class="index6-swiper">
        <div class="swiper-container">
          <div class="swiper-wrapper" th:with="posts = ${postFinder.listByCategory(1,5,'category-fthon')}">
            <div class="swiper-slide" th:each="post : ${posts.items}">
              <a class="wow fadeInUp" th:href="@{${post.status.permalink}}">
                <div class="index6-time">
                  <h3 th:text="${#temporals.format(post.spec.publishTime, 'MM.dd')}"></h3>
                  <h2 th:text="${#temporals.format(post.spec.publishTime, 'yyyy')}"></h2>
                </div>
                <div class="index6-img">
                  <img th:src="@{${post.spec.cover}}"
                       th:alt="${post.spec.title}" />
                </div>
                <div class="index6-txt">
                  <h4 th:text="${post.spec.title}"></h4>
                  <p th:if="${post.spec.excerpt.autoGenerate}" th:text="${post.spec.excerpt.raw}"></p>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </div>
  </div>

</th:block>

</html>
