<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="https://www.thymeleaf.org"
        th:fragment="html (head,content)"
>
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=2"
  />
  <link rel="icon" type="image/png" th:href="@{${site.favicon}}">
  <title th:text="${site.title}"></title>
  <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
  <script th:src="@{/assets/js/main.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/animate.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/swiper.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/common.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/index.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/assets/sweetalert/sweetalert.css}" />
  <script th:src="@{/assets/js/jquery-3.2.1.min.js}" type="text/javascript" charset="utf-8"></script>

  <th:block th:if="${head != null}">
    <th:block th:replace="${head}" />
  </th:block>
</head>
<body th:style="'background-color: '+${theme.config.style.background_color ?: '#f2f2f2'}">
<header>
  <a class="logo" href="/" target="_blank"><img th:src="@{${site.logo}}" alt="Company Logo" /></a>
  <a class="header_en" href="/#"><span>Russian</span></a>
  <ul class="header-icon">
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <ul class="header-menu" th:with="menuItems = ${menuFinder.getPrimary()?.menuItems}">
    <li class="" th:each="menuItem : ${menuItems}">
      <h4>
        <a
                th:href="@{${menuItem.status.href}}"
                th:target="${menuItem.spec.target?.value}"
                th:text="${menuItem.status.displayName}"
        >
        </a>
      </h4>
      <div class="headTwo" th:if="${menuItem.children} != null" th:with="children = ${menuItem.children}">
        <p th:each="child : ${children}">
          <a
                  th:href="@{${child.status.href}}"
                  th:target="${child.spec.target?.value}"
                  th:text="${child.status.displayName}"
          >
          </a>
        </p>
      </div>
    </li>
  </ul>
</header>
<section>
  <th:block th:replace="${content}" />
</section>

<div class="chat-online">
  <div class="chat-button">
    <span><img th:src="@{/assets/img/chat.png}" alt="Chat" /><img th:src="@{/assets/img/chat-icon.png}" alt="Chat Icon" /></span>
    <strong>Online Chat</strong>
  </div>
  <div class="chat-content">
    <span></span>
    <h3>Online Chat</h3>
    <h4>Hello, please leave your name and email before starting the online chat so we won't miss your message and can contact you smoothly.</h4>
    <ul class="chat-form">
      <li>
        <h5>*<strong>Name:</strong></h5>
        <input type="text" id="txtName" name="txtName" value="" />
      </li>
      <li>
        <h5>*<strong>Phone:</strong></h5>
        <input type="text" id="txtPhone" name="txtPhone" value="" />
      </li>
      <li>
        <h5>*<strong>Email:</strong></h5>
        <input type="text" id="txtEmail" name="txtEmail" value="" />
      </li>
      <li>
        <h5>*<strong>Content:</strong></h5>
        <textarea name="txtContent" id="txtContent" rows="" cols=""></textarea>
      </li>
      <li>
        <button id="BtnMes">Send Now</button>
      </li>
    </ul>
  </div>
</div>
<footer>
  <div class="container">
    <a class="footer-logo wow fadeInUp" href="index.html"><img th:src="@{${site.logo}}" alt="Company Logo" /></a>
    <ul class="footer-menu wow fadeInUp">
      <li>
        <h4>About Ouming</h4>
        <p><a href="/aboutus">Company Headquarters</a></p>
        <p><a href="/foundry">Foundry Base</a></p>
      </li>
      <li>
        <h4>Product Center</h4>
        <p th:each="category: ${productCategoryFinder.listAll()}">
          <a th:href="@{/productlist/{slug}(slug=${category.metadata.name})}" th:text="${category.spec.name}"></a>
        </p>
      </li>
      <li>
        <h4>Core Advantages</h4>
        <p><a href="/quality">Quality Control</a></p>
        <p><a href="/process">Production Control</a></p>
        <p><a href="/techcontrol">Technical Support</a></p>
      </li>
      <li>
        <h4>Contact Information</h4>
        <p>Address: xxxxxxxxxxxxxxx</p>
        <p>Phone: xxxx-xxxxxxx</p>
        <p>Fax: xxxx-xxxxxxx</p>
        <p>Email: xxxx@xxxxx.com</p>
      </li>
    </ul>
    <div class="footer-contact wow fadeInUp">
      <h3>Contact Us</h3>
      <div class="footer-input">
        <input placeholder="Name *" type="text" name="txtName" id="txtName1" value="" />
        <input placeholder="Email *" type="text" name="txtEmail" id="txtEmail1" value="" />
      </div>
      <textarea placeholder="Content *" name="txtContent1" id="txtContent1" rows="" cols=""></textarea>
      <button id="BtnMesSend">Submit</button>
    </div>
    <div class="footer-share">
      <a href="https://twitter.com/CmOlthf1vPuxlwD" rel="nofollow"><img
              th:src="@{/assets/img/fs1.png}" alt="Twitter" /></a>
      <a href="https://www.facebook.com/oumingvalve" rel="nofollow"><img
              th:src="@{/assets/img/fs2.png}" alt="Facebook" /></a>
      <a href="https://www.linkedin.com/in/helen-zhu-a84a31145/" rel="nofollow"><img
              th:src="@{/assets/img/fs3.png}" alt="LinkedIn" /></a>
      <a href="https://www.youtube.com/channel/UCzLdRCTZOqSG58s9e334xqw"><img
              th:src="@{/assets/img/fs4.png}" alt="YouTube" /></a>
      <a href="skype:18757724201?chat"><img th:src="@{/assets/img/fs5.png}" alt="Skype" /></a>
      <a href="https://api.whatsapp.com/send?phone=+8618757724201&text=Hello"><img
              th:src="@{/assets/img/fs6.png}" alt="WhatsApp" /></a>
    </div>
    <div class="footer-bottom">
      <p>Copyright © 2024 Donglnan Valve Group Co., Ltd. All Rights Reserved <a href="//beian.miit.gov.cn" rel="nofollow"
                                                                              target="_blank"
                                                                              style="color:#fff;">闽ICP备xxxx号-1</a></p>
    </div>
  </div>

  <script>
    // JavaScript for BtnMesSend (footer contact form)
    $("#BtnMesSend").click(function() {
      if ($("#txtName1").val() == "") {
        swal({ title: "Please enter Name!", text: " " });
        return false;
      }
      if ($("#txtEmail1").val() == "") {
        swal({ title: "Please enter E-Mail!", text: " " });
        return false;
      }
      if ($("#txtContent1").val() == "") {
        swal({ title: "Please enter Content!", text: " " });
        return false;
      }
      $.ajax({
        type: "POST",
        url: "/apis/api.consultation.plugin.halo.run/v1alpha1/consultations",
        contentType: 'application/json',
        data: JSON.stringify({
          name: $("#txtName1").val(),
          email: $("#txtEmail1").val(),
          content: $("#txtContent1").val(),
          t: Math.random(),
        }),
        success: function(data) {
          if (data.apiVersion) {
            swal({
              title: "Success",
              text: "Thanks",
              timer: 1000,
              type: "success",
              showConfirmButton: false,
            }, function() {
              $("#txtName").attr("value", "");
              $("#txtPhone").attr("value", "");
              $("#txtEmail").attr("value", "");
              $("#txtContent").attr("value", "");
              swal.close();
            });
          } else {
            swal({
              title: "Error",
              text: data.Message,
              timer: 1000,
              type: "error",
              showConfirmButton: false,
            }, function() {
              swal.close();
            });
          }
        },
      });
    });
  </script>

</footer>
</body>
<script th:src="@{/assets/js/bootstrap.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/wow.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/swiper.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/common.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/index.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/zUI.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/sweetalert/sweetalert.min.js}" type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/factory.js}"  type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/foundry.js}"  type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/tech.js}"  type="text/javascript" charset="utf-8"></script>
<script th:src="@{/assets/js/valve.js}"  type="text/javascript" charset="utf-8"></script>
<script>
  // JavaScript for BtnMes (online chat form)
  $("#BtnMes").click(function() {
    if ($("#txtName").val() == "") {
      swal({ title: "Please enter Name!", text: " " });
      return false;
    }
    if ($("#txtPhone").val() == "") {
      swal({ title: "Please enter Phone!", text: " " });
      return false;
    }
    if ($("#txtEmail").val() == "") {
      swal({ title: "Please enter E-Mail!", text: " " });
      return false;
    }
    if ($("#txtContent").val() == "") {
      swal({ title: "Please enter Content!", text: " " });
      return false;
    }
    $.ajax({
      type: "POST",
      url: "/Contact/AddConent",
      data: {
        Namet: $("#txtName").val(),
        Eamil: $("#txtEmail").val(),
        Conent: $("#txtPhone").val(),
        Memo: $("#txtContent").val(),
        t: Math.random(),
      },
      success: function(data) {
        if (data.Success) {
          swal({
            title: "Success",
            text: "Thanks",
            timer: 1000,
            type: "success",
            showConfirmButton: false,
          }, function() {
            $("#txtName").attr("value", "");
            $("#txtPhone").attr("value", "");
            $("#txtEmail").attr("value", "");
            $("#txtContent").attr("value", "");
            swal.close();
          });
        } else {
          swal({
            title: "Error",
            text: data.Message,
            timer: 1000,
            type: "error",
            showConfirmButton: false,
          }, function() {
            swal.close();
          });
        }
      },
    });
  });
</script>

<script>
  // JavaScript for SendMess2 (additional contact form, if needed)
  $(function() {
    $("#SendMess2").click(function() {
      if ($("#txtName2").val() == "") {
        swal({
          title: "Please enter name!",
          text: " ",
          type: "warning"
        });
        return false;
      }
      if ($("#txtEmail2").val() == "") {
        swal({
          title: "Please enter email!",
          text: " ",
          type: "warning"
        });
        return false;
      }
      if ($("#txtContent2").val() == "") {
        swal({
          title: "Please enter content!",
          text: " ",
          type: "warning"
        });
        return false;
      }
      $.ajax({
        type: "POST",
        url: "/apis/api.consultation.plugin.halo.run/v1alpha1/consultations",
        contentType: 'application/json',
        data: JSON.stringify({
          name: $("#txtName2").val(),
          email: $("#txtEmail2").val(),
          phone: $("#txtPhone2").val(),
          fax: $("#txtFax2").val(),
          content: $("#txtContent2").val(),
          t: Math.random(),
        }),
        success: function(data) {
          if (data.apiVersion) {
            swal({
              title: "Submission Successful",
              text: "Thank you for your message",
              type: "success",
              timer: 1000,
              showConfirmButton: false
            }, function() {
              $("#txtName2").val("");
              $("#txtPhone2").val("");
              $("#txtEmail2").val("");
              $("#txtFax2").val("");
              $("#txtContent2").val("");
              swal.close();
            });
          } else {
            swal({
              title: "Error",
              text: data.Message || "Submission failed, please try again later",
              type: "error",
              timer: 1000,
              showConfirmButton: false
            });
          }
        },
        error: function() {
          swal({
            title: "Error",
            text: "Submission failed, please try again later",
            type: "error",
            timer: 1000,
            showConfirmButton: false
          });
        }
      });
    });
  });
</script>

</html>
