<!DOCTYPE html>
<html
  xmlns:th="https://www.thymeleaf.org"
  th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/news.css}" />
</th:block>
<th:block th:fragment="content">
  <div class="news-details">
    <div class="container">
      <div class="news-title">
        <p><a href="/">首页</a> > <a href="/News">新闻中心</a></p>
      </div>
      <div class="details-title">
        <h1 th:text="${post.spec.title}"></h1>
        <ul>
          <li><strong>浏览人数:</strong><span th:text="${post.stats.visit}"></span></li>
          <li><strong>来源:</strong><span th:text="${post.owner.displayName}"></span></li>
          <li><strong>出版时间:</strong><span
            th:text="${#temporals.format(post.spec.publishTime, 'yyyy-MM-dd')}"></span></li>
        </ul>
      </div>
      <div class="details-content">
        <div class="__kindeditor_paste__" th:utext="${post.content.content}">
        </div>
      </div>
      <div class="details-bottom" th:with="postCursor = ${postFinder.cursor(post.metadata.name)}">
        <p>
          上一页:
          <a href="#" th:if="${!postCursor.hasPrevious()}">没有更多数据</a>
          <a th:if="${postCursor.hasPrevious()}" th:href="@{${postCursor.previous.status.permalink}}"><span th:text="${postCursor.previous.spec.title}"></span></a>
        </p>
        <p>
          下一页:
          <a href="#" th:if="${!postCursor.hasNext()}">没有更多数据</a>
          <a th:if="${postCursor.hasNext()}" th:href="@{${postCursor.next.status.permalink}}"><span th:text="${postCursor.next.spec.title}"></span></a>
        </p>
        <button onclick="history.back(-1)">返回列表</button>
      </div>
    </div>
  </div>
</th:block>
</html>
