<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/quality.css}"/>
</th:block>
<th:block th:fragment="content">
    <div class="banner">
        <img th:src="@{/assets/img/process.jpg}" />
        <div class="banner-txt">
            <h1>Focused on Product Details,<br/>Creating Industry Excellence</h1>
        </div>
    </div>
    <div class="progress-content">
        <div class="container">
            <div class="progress-list">
                <div class="progress-box wow fadeInUpBig">
                    <div class="list-num">
                        <h1>1</h1>
                        <h4>Innovation & Development</h4>
                    </div>
                    <div class="list-left wow fadeInUpBig"></div>
                    <ul class="list-box">
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process1-1.jpg}" />
                            </div>
                            <h4>1.1 Technical Team</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process1-2.jpg}" />
                            </div>
                            <h4>1.2 Design & Drafting</h4>
                        </li>
                    </ul>
                </div>
                <div class="progress-box wow fadeInUpBig">
                    <div class="list-num">
                        <h1>2</h1>
                        <h4>Foundry Process</h4>
                    </div>
                    <div class="list-left wow fadeInUpBig"></div>
                    <ul class="list-box">
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-1.jpg}" />
                            </div>
                            <h4>2.1 Wax Injection</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-2.jpg}" />
                            </div>
                            <h4>2.2 Wax Mold Repair</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-3.jpg}" />
                            </div>
                            <h4>2.3 Wax Mold Assembly</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-4.jpg}" />
                            </div>
                            <h4>2.4 Shell Making</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-5.jpg}" />
                            </div>
                            <h4>2.5 Drying</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-6.jpg}" />
                            </div>
                            <h4>2.6 De-Waxing</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-7.jpg}" />
                            </div>
                            <h4>2.7 Smelting</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-8.jpg}" />
                            </div>
                            <h4>2.8 Pouring</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-9.jpg}" />
                            </div>
                            <h4>2.9 Material Inspection</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-10.jpg}" />
                            </div>
                            <h4>2.10 Surface Treatment</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-11.jpg}" />
                            </div>
                            <h4>2.11 Heat Treatment</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-12.jpg}" />
                            </div>
                            <h4>2.12 Pickling</h4>
                        </li>
                    </ul>
                </div>
                <div class="progress-box wow fadeInUpBig">
                    <div class="list-num">
                        <h1>3</h1>
                        <h4>Testing & Experimentation</h4>
                    </div>
                    <div class="list-left wow fadeInUpBig"></div>
                    <ul class="list-box">
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process3-1.jpg}" />
                            </div>
                            <h4>3.1 Wall Thickness Testing</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process3-2.jpg}" />
                            </div>
                            <h4>3.2 Coordinate Measuring</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process3-3.jpg}" />
                            </div>
                            <h4>3.3 Roughness Inspection</h4>
                        </li>
                    </ul>
                </div>
                <div class="progress-box wow fadeInUpBig">
                    <div class="list-num">
                        <h1>4</h1>
                        <h4>Precision Control</h4>
                    </div>
                    <div class="list-left wow fadeInUpBig"></div>
                    <ul class="list-box">
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-1.jpg}" />
                            </div>
                            <h4>4.1 Machining Workshop</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-2.jpg}" />
                            </div>
                            <h4>4.2 Vertical Machining Center</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-3.jpg}" />
                            </div>
                            <h4>4.3 Horizontal Machining Center</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-4.jpg}" />
                            </div>
                            <h4>4.4 Assembly</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-5.jpg}" />
                            </div>
                            <h4>4.5 Pressure Testing</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-6.jpg}" />
                            </div>
                            <h4>4.6 Packaging</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
