<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/quality.css}"/>
</th:block>
<th:block th:fragment="content">
    <div class="banner">
        <img th:src="@{/assets/img/process.jpg}" />
        <div class="banner-txt">
            <h1>专注产品细节，<br/>打造行业精品</h1>
        </div>
    </div>
    <div class="progress-content">
        <div class="container">
            <div class="progress-list">
                <div class="progress-box wow fadeInUpBig">
                    <div class="list-num">
                        <h1>1</h1>
                        <h4>创新研发</h4>
                    </div>
                    <div class="list-left wow fadeInUpBig"></div>
                    <ul class="list-box">
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process1-1.jpg}" />
                            </div>
                            <h4>1.1 技术组</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process1-2.jpg}" />
                            </div>
                            <h4>1.2 图纸设计</h4>
                        </li>
                    </ul>
                </div>
                <div class="progress-box wow fadeInUpBig">
                    <div class="list-num">
                        <h1>2</h1>
                        <h4>铸造工艺</h4>
                    </div>
                    <div class="list-left wow fadeInUpBig"></div>
                    <ul class="list-box">
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-1.jpg}" />
                            </div>
                            <h4>2.1 制蜡</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-2.jpg}" />
                            </div>
                            <h4>2.2 修补蜡模</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-3.jpg}" />
                            </div>
                            <h4>2.3 组装蜡模</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-4.jpg}" />
                            </div>
                            <h4>2.4 制壳</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-5.jpg}" />
                            </div>
                            <h4>2.5 干燥</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-6.jpg}" />
                            </div>
                            <h4>2.6 脱蜡</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-7.jpg}" />
                            </div>
                            <h4>2.7 冶炼</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-8.jpg}" />
                            </div>
                            <h4>2.8 浇注</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-9.jpg}" />
                            </div>
                            <h4>2.9 材料检验</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-10.jpg}" />
                            </div>
                            <h4>2.10 表面处理</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-11.jpg}" />
                            </div>
                            <h4>2.11 热处理</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process2-12.jpg}" />
                            </div>
                            <h4>2.12 酸洗</h4>
                        </li>
                    </ul>
                </div>
                <div class="progress-box wow fadeInUpBig">
                    <div class="list-num">
                        <h1>3</h1>
                        <h4>实验测试</h4>
                    </div>
                    <div class="list-left wow fadeInUpBig"></div>
                    <ul class="list-box">
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process3-1.jpg}" />
                            </div>
                            <h4>3.1 壁厚检测</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process3-2.jpg}" />
                            </div>
                            <h4>3.2 三坐标测量</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process3-3.jpg}" />
                            </div>
                            <h4>3.3 粗糙度检查</h4>
                        </li>
                    </ul>
                </div>
                <div class="progress-box wow fadeInUpBig">
                    <div class="list-num">
                        <h1>4</h1>
                        <h4>精细控制</h4>
                    </div>
                    <div class="list-left wow fadeInUpBig"></div>
                    <ul class="list-box">
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-1.jpg}" />
                            </div>
                            <h4>4.1 加工车间</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-2.jpg}" />
                            </div>
                            <h4>4.2 立式加工中心</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-3.jpg}" />
                            </div>
                            <h4>4.3 卧式加工中心</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-4.jpg}" />
                            </div>
                            <h4>4.4 装配</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-5.jpg}" />
                            </div>
                            <h4>4.5 压力试验</h4>
                        </li>
                        <li class="wow fadeInUpBig">
                            <div class="list-img">
                                <img th:src="@{/assets/img/Process4-6.jpg}" />
                            </div>
                            <h4>4.6 包装</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
