<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/product.css}"/>
</th:block>
<th:block th:fragment="content">

    <div class="banner">
        <img th:src="@{/assets/img/Product.jpg}" />
        <div class="banner-txt">
            <h1>耐用、可靠、熟练</h1>
        </div>
    </div>

    <div class="product-content">
        <div class="container">
            <div class="product-left wow fadeInUp">
                <h3>产品系列</h3>
                <ul class="product-menu">
                    <li class="active"><h4><a href="/Product-6095.html">片式球阀</a></h4></li>
                    <li class=""><h4><a href="/Product-6096.html">法兰球阀</a></h4></li>
                    <li class=""><h4><a href="/Product-6097.html">多通球阀</a></h4></li>
                    <li class=""><h4><a href="/Product-6098.html">自动阀</a></h4></li>
                </ul>
            </div>
            <div class="product-right">
                <div class="right-title wow fadeInUp">
                    <h2>片式球阀</h2>
                    <p>片式球阀是一种比较新型的球阀类别，它有着自身结构所独有的一些优越性，如开关无摩擦，密封不易磨损，启闭力矩小。这样可减小所配执行器的规格。配以多回转电动执行机构，可实现对介质的调节和严密切断。广泛适用于石油化工、城市给排水等要求严格切断的工况。</p>
                </div>

                <div class="right-list wow fadeInUp">
                    <a class="wow fadeInUp" href="/DetProduct-13119.html" target="_blank" >
                        <div class="list-txt">
                            <h4>一片式球阀 1000psi/2000psi</h4>
                            <span></span>
                        </div>
                        <div class="list-img">
                            <img src="/upload/9398/202012/558a7ec1ca39435eb9869d8022db658f.jpg" />
                        </div>
                    </a>
                    <a class="wow fadeInUp" href="/DetProduct-13120.html" target="_blank" >
                        <div class="list-txt">
                            <h4>两片式内外螺纹球阀</h4>
                            <span></span>
                        </div>
                        <div class="list-img">
                            <img src="/upload/9398/202012/6f222ae121ec455d8d9de3c5929ea8a6.jpg" alt=两片式内外螺纹球阀  title=两片式内外螺纹球阀   />
                        </div>
                    </a>
                    <a class="wow fadeInUp" href="/DetProduct-13121.html" target="_blank" >
                        <div class="list-txt">
                            <h4>三片式高平台球阀</h4>
                            <span></span>
                        </div>
                        <div class="list-img">
                            <img src="/upload/9398/202012/512a4b8c053b4ce1b35c7248c676f64d.jpg" alt=三片式高平台球阀  title=三片式高平台球阀   />
                        </div>
                    </a>
                    <a class="wow fadeInUp" href="/DetProduct-13123.html" target="_blank" >
                        <div class="list-txt">
                            <h4>三片式高压球阀</h4>
                            <span></span>
                        </div>
                        <div class="list-img">
                            <img src="/upload/9398/202012/fd1689d31a82466cb62b0af2c983da14.jpg" alt=三片式高压球阀  title=三片式高压球阀   />
                        </div>
                    </a>
                    <a class="wow fadeInUp" href="/DetProduct-13124.html" target="_blank" >
                        <div class="list-txt">
                            <h4>两片式高平台球阀 1000psi/2000psi</h4>
                            <span></span>
                        </div>
                        <div class="list-img">
                            <img src="/upload/9398/202012/aa9ec4130f284648936df407c4febbe2.jpg"   />
                        </div>
                    </a>
                    <a class="wow fadeInUp" href="/DetProduct-13125.html" target="_blank" >
                        <div class="list-txt">
                            <h4>三片式高平台球阀</h4>
                            <span></span>
                        </div>
                        <div class="list-img">
                            <img src="/upload/9398/202012/5397b9d319654e019f9be32f018aea47.jpg" alt=三片式高平台球阀  title=三片式高平台球阀   />
                        </div>
                    </a>
                    <a class="wow fadeInUp" href="/DetProduct-13126.html" target="_blank" >
                        <div class="list-txt">
                            <h4>三片式球阀</h4>
                            <span></span>
                        </div>
                        <div class="list-img">
                            <img src="/upload/9398/202012/d24747be92cd4c1aa7e0808fa00e73f9.jpg" alt=三片式球阀  title=三片式球阀   />
                        </div>
                    </a>
                    <a class="wow fadeInUp" href="/DetProduct-13127.html" target="_blank" >
                        <div class="list-txt">
                            <h4>三片式球阀</h4>
                            <span></span>
                        </div>
                        <div class="list-img">
                            <img src="/upload/9398/202012/504a8a12b012428dbd4dfdf8fff8e6f9.jpg" alt=三片式球阀  title=三片式球阀   />
                        </div>
                    </a>
                </div>

                <div class="news_page">
                    <a href="" class="page_prev">上一页</a>
                    <div class="page_num">
                        <a href="?pageindex=1&pagesize=8" class="page_now">1</a>
                        <a href="?pageindex=2&pagesize=8" >2</a>
                        <a href="?pageindex=3&pagesize=8" >3</a>
                    </div>
                    <a href="?pageindex=2&pagesize=8" class="page_next">下一页</a>
                </div>
            </div>
        </div>
    </div>
    <div th:text="${id}"></div>
    <div th:text="${page}"></div>
</th:block>
</html>
