<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/quality.css}"/>
</th:block>
<th:block th:fragment="content">
    <div class="banner">
        <img th:src="@{/assets/img/quality.jpg}" />
        <div class="banner-txt">
            <h1>生产符合国际标准的<br/>高性能产品</h1>
        </div>
    </div>
    <div class="quality-content">
        <div class="container">
            <h1 class="wow fadeInUp">质量<strong>控制</strong></h1>
            <div class="quality-top wow fadeInUp">
                <div class="top-txt wow fadeInUp">
                    <p>铸件检验（化学成分分析、拉伸冲击试验、金相分析）<br/>来料质量控制（铸件及配件检验）<br/>过程质量控制（机加工检验、装配检验、应力测试）<br/>最终检验（产品检验）</p>
                    <div class="top-list wow fadeInUp">
                        <h5>质量检测</h5>
                        <ul>
                            <li>摄谱仪</li>
                            <li>高精度里氏硬度计</li>
                            <li>冲击试验机</li>
                            <li>洛氏硬度计</li>
                            <li>拉力试验机</li>
                            <li>高温试验箱</li>
                            <li>三坐标测量机</li>
                            <li>低温试验箱</li>
                            <li>超声波测厚仪</li>
                            <li>氦质谱仪</li>
                            <li>爆破试验机</li>
                            <li>显微金相试验机</li>
                        </ul>
                    </div>
                </div>
                <div class="top-img wow fadeInUp">
                    <ul>
                        <li>铸件检验</li>
                        <li>进货检验</li>
                        <li>过程检验</li>
                        <li>最终测试</li>
                    </ul>
                    <img th:src="@{/assets/img/quality1.png}" />
                </div>
            </div>
            <div class="quality-center wow fadeInUp">
                <p>为了提供高质量的产品，瓯明公司配备了检测设备和完善的检测方法，
                    我们还建立了严格的质量管理团队，
                    实现了从原材料检验、生产过程检验、产品及应用的全过程质量控制。</p>
            </div>
            <ul class="quality-list">
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/bb49137633bb42fcb0c6bafccc4dcb0a.jpg}" alt="材料检验"  title="材料检验" />
                    </div>
                    <h4>材料检验</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/96bbd9b129c84155911b023958fc155b.jpg}" alt="材料破坏性试验"  title="材料破坏性试验" />
                    </div>
                    <h4>材料破坏性试验</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/c13bbeb8882e4eaf9686e396029905da.jpg}" alt="三坐标"  title="三坐标" />
                    </div>
                    <h4>三坐标</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/0ee073ab8d464a1db58e70d30f186c1b.jpg}" alt="洛氏硬度"  title="洛氏硬度" />
                    </div>
                    <h4>洛氏硬度</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/55c72bbbc5b543acb6ad86f1b36b1c26.jpg}" alt="测量"  title="测量" />
                    </div>
                    <h4>测量</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/925c9225ff874172a02e5cf7f76bd795.jpg}" alt="塞规测试"  title="塞规测试" />
                    </div>
                    <h4>塞规测试</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/1e33fd10a7844f6183cf51f752db960e.jpg}" alt="粗糙度计"  title="粗糙度计" />
                    </div>
                    <h4>粗糙度计</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/53eadf8af2634a1bbe9cf2f242b58285.jpg}" alt="表面粗糙度"  title="表面粗糙度" />
                    </div>
                    <h4>表面粗糙度</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/0c9bd773f8204cd8b3e65fc505032db3.jpg}" alt="阀体中心距"  title="阀体中心距" />
                    </div>
                    <h4>阀体中心距</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/35de88e3708f4c29ac904490f63e1675.jpg}" alt="附件材料分析"  title="附件材料分析" />
                    </div>
                    <h4>附件材料分析</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/318620226ac34367a2630765c0628f86.jpg}" alt="压力试验"  title="压力试验" />
                    </div>
                    <h4>压力试验</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/012cf78293294ef3987688421dc086b4.jpg}" alt="微泄露试验"  title="微泄露试验" />
                    </div>
                    <h4>微泄露试验</h4>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</html>
