<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/quality.css}"/>
</th:block>
<th:block th:fragment="content">
    <div class="banner">
        <img th:src="@{/assets/img/quality.jpg}" />
        <div class="banner-txt">
            <h1>Producing High-Performance<br/>Products to International Standards</h1>
        </div>
    </div>
    <div class="quality-content">
        <div class="container">
            <h1 class="wow fadeInUp">Quality <strong>Control</strong></h1>
            <div class="quality-top wow fadeInUp">
                <div class="top-txt wow fadeInUp">
                    <p>Casting Inspection (Chemical Composition Analysis, Tensile Impact Testing, Metallographic Analysis)<br/>Incoming Quality Control (Inspection of Castings and Components)<br/>Process Quality Control (Machining Inspection, Assembly Inspection, Stress Testing)<br/>Final Inspection (Product Testing)</p>
                    <div class="top-list wow fadeInUp">
                        <h5>Quality Testing Equipment</h5>
                        <ul>
                            <li>Spectrometer</li>
                            <li>High-Precision Leeb Hardness Tester</li>
                            <li>Impact Testing Machine</li>
                            <li>Rockwell Hardness Tester</li>
                            <li>Tensile Testing Machine</li>
                            <li>High-Temperature Test Chamber</li>
                            <li>Coordinate Measuring Machine (CMM)</li>
                            <li>Low-Temperature Test Chamber</li>
                            <li>Ultrasonic Thickness Gauge</li>
                            <li>Helium Mass Spectrometer</li>
                            <li>Burst Testing Machine</li>
                            <li>Microscopic Metallographic Tester</li>
                        </ul>
                    </div>
                </div>
                <div class="top-img wow fadeInUp">
                    <ul>
                        <li>Casting Inspection</li>
                        <li>Incoming Inspection</li>
                        <li>Process Inspection</li>
                        <li>Final Testing</li>
                    </ul>
                    <img th:src="@{/assets/img/quality1.png}" />
                </div>
            </div>
            <div class="quality-center wow fadeInUp">
                <p>To ensure the highest quality products, Southeast Foundry is equipped with advanced testing equipment and robust inspection methods. Our dedicated quality management team oversees the entire process, from raw material inspection through production, to final product application.</p>
            </div>
            <ul class="quality-list">
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/bb49137633bb42fcb0c6bafccc4dcb0a.jpg}" alt="Material Inspection"  title="Material Inspection" />
                    </div>
                    <h4>Material Inspection</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/96bbd9b129c84155911b023958fc155b.jpg}" alt="Destructive Testing"  title="Destructive Testing" />
                    </div>
                    <h4>Destructive Testing</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/c13bbeb8882e4eaf9686e396029905da.jpg}" alt="Coordinate Measuring"  title="Coordinate Measuring" />
                    </div>
                    <h4>Coordinate Measuring</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/0ee073ab8d464a1db58e70d30f186c1b.jpg}" alt="Rockwell Hardness"  title="Rockwell Hardness" />
                    </div>
                    <h4>Rockwell Hardness</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/55c72bbbc5b543acb6ad86f1b36b1c26.jpg}" alt="Measurement"  title="Measurement" />
                    </div>
                    <h4>Measurement</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/925c9225ff874172a02e5cf7f76bd795.jpg}" alt="Gauge Testing"  title="Gauge Testing" />
                    </div>
                    <h4>Gauge Testing</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/1e33fd10a7844f6183cf51f752db960e.jpg}" alt="Roughness Tester"  title="Roughness Tester" />
                    </div>
                    <h4>Roughness Tester</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/53eadf8af2634a1bbe9cf2f242b58285.jpg}" alt="Surface Roughness"  title="Surface Roughness" />
                    </div>
                    <h4>Surface Roughness</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/0c9bd773f8204cd8b3e65fc505032db3.jpg}" alt="Valve Body Center Distance"  title="Valve Body Center Distance" />
                    </div>
                    <h4>Valve Body Center Distance</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/35de88e3708f4c29ac904490f63e1675.jpg}" alt="Material Analysis"  title="Material Analysis" />
                    </div>
                    <h4>Material Analysis</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/318620226ac34367a2630765c0628f86.jpg}" alt="Pressure Testing"  title="Pressure Testing" />
                    </div>
                    <h4>Pressure Testing</h4>
                </li>
                <li class="wow fadeInUp">
                    <div class="quality-img">
                        <img th:src="@{/assets/202012/012cf78293294ef3987688421dc086b4.jpg}" alt="Micro Leak Testing"  title="Micro Leak Testing" />
                    </div>
                    <h4>Micro Leak Testing</h4>
                </li>
            </ul>
        </div>
    </div>
</th:block>
</html>
