<!DOCTYPE html>
<html
        xmlns:th="https://www.thymeleaf.org"
        th:replace="~{layout :: html(head = ~{::head},content = ~{::content})}"
>
<th:block th:fragment="head">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/quality.css}"/>
</th:block>
<th:block th:fragment="content">
    <div class="banner">
        <img th:src="@{/assets/img/tech.jpg}" />
        <div class="banner-txt">
            <h1>Producing High-Quality Products<br/>That Meet International Standards</h1>
        </div>
    </div>
    <div class="tech1">
        <div class="container">
            <div class="tech1-list">
                <ul class="wow fadeInUp">
                    <li>
                        <img th:src="@{/assets/202012/c2bf00debbc647f7b8dba0f754542de8.jpg}" alt="Technical Support" title="Technical Support" />
                    </li>
                    <li class="wow fadeInUp">
                        <h1>Technical Support</h1>
                        <p>Since its establishment, independent innovation has been the core strategy of the company's development, with 2 invention patents and 18 utility model patents obtained. Relying on a strong R&D team and continuous R&D investment, the company is always at the forefront of industry technology, providing competitive quality products and services to users.</p>
                    </li>
                </ul>
                <ul class="wow fadeInUp">
                    <li>
                        <img th:src="@{/assets/202101/08d2d19610174623b9e37d7192a05622.jpg}" alt="Two-Piece Ball Valve" title="Two-Piece Ball Valve" />
                    </li>
                    <li class="wow fadeInUp">
                        <h1>Two-Piece Ball Valve</h1>
                        <p>The two-piece ball valve features low torque and strong sealing. Our anti-static stem and anti-static valve design make this valve not only more practical but also longer-lasting.</p>
                    </li>
                </ul>
                <ul class="wow fadeInUp">
                    <li>
                        <img th:src="@{/assets/202012/2c5200b15a144a6c93c53eac0547eb21.jpg}" alt="Flanged Ball Valve" title="Flanged Ball Valve" />
                    </li>
                    <li class="wow fadeInUp">
                        <h1>Flanged Ball Valve</h1>
                        <p>Southeast's flanged ball valve is safer and more reliable. In addition to the anti-static design, our flanged ball valve can also use graphite packing and gaskets to achieve fire protection.</p>
                    </li>
                </ul>
                <ul class="wow fadeInUp">
                    <li>
                        <img th:src="@{/assets/202101/47ed1d341b8a410cbfc5a6552ecbf00c.jpg}" alt="Multi-Port Distribution Ball Valve" title="Multi-Port Distribution Ball Valve" />
                    </li>
                    <li class="wow fadeInUp">
                        <h1>Multi-Port Distribution Ball Valve</h1>
                        <p>Southeast's multi-port distribution ball valve features a split structure design, requiring minimal installation space. The side-mounted valve cover is convenient for installation and maintenance. The side valve cover connection can be flange-connected, threaded-connected, or socket-welded, allowing multiple connection methods for a single valve.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="tech2">
        <div class="container">
            <h1 class="foundry-title wow fadeInUp">Patent<strong>Certificates</strong></h1>
            <div class="tech2-left wow fadeInUp">
                <div class="left-img">
                    <img th:src="@{/assets/202012/a878e5b80bb34903aa6ebc66a09acb20.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                </div>
                <span>Patent Certificate</span>
            </div>
            <div class="tech2-right wow fadeInUp">
                <div class="tech2-pc">
                    <h5>The qualifications and honors obtained by the company are a recognition of its past achievements, a motivation for the company to create a brilliant future, and a driving force to continue pushing forward. Stepping into a new stage is our unwavering and relentless belief.</h5>
                    <div class="tech2-list wow fadeInUp">
                        <ul>
                            <li class="active">
                                <img th:src="@{/assets/202012/a878e5b80bb34903aa6ebc66a09acb20.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202012/282d5c7420944701899a3124383930a8.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202012/ebc29008d2d044c0bbbdd107aa2a27d2.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202012/1231850c694042ba98d04d66c2176724.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202012/109a29bbb0034d639cd6286c9f9d821f.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202012/de4f98378ef64c6dbe31b9dc053c1894.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                            </li>
                            <li class="">
                                <img th:src="@{/assets/202012/917b91e343f84daf8412df7d1dd65768.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tech2-sm">
                    <div class="tech2-swiper">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="active">
                                        <img th:src="@{/assets/202012/a878e5b80bb34903aa6ebc66a09acb20.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202012/282d5c7420944701899a3124383930a8.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202012/ebc29008d2d044c0bbbdd107aa2a27d2.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202012/1231850c694042ba98d04d66c2176724.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202012/109a29bbb0034d639cd6286c9f9d821f.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202012/de4f98378ef64c6dbe31b9dc053c1894.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="">
                                        <img th:src="@{/assets/202012/917b91e343f84daf8412df7d1dd65768.jpg}" alt="Patent Certificate" title="Patent Certificate" />
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-scrollbar"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
